.header {
    grid-area: h;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 50px;
}

.loginBlock {
    margin-right: 20px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: #ffffff;
}
