.container {
    width: 500px;
    min-height: 500px;
    margin: 0 auto;
}

.title {
    font-size: 25px;
    margin: 0 0 20px 0;
    text-align: center;
}

.formContainer {
    margin-bottom: 15px;
}

.formContainer input:not([type='checkbox']) {
    width: 100%;
}

.submitBtn {
    width: 100%;
    min-height: 40px;
    cursor: pointer;
}
